button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

#astronomia button {
  background-color: #f6d600;
  color: black;
}

#medioambiente button {
  background-color: #28c76f;
}

#salud button {
  background-color: #ff3b5c;
}
